<table>
  <tr>
    <th></th>
    {{#each people as |person|}}
      <th>
        {{#link-to "schedules.show.person" person.schedule person}}
          {{person.name}}
        {{/link-to}}
      </th>
    {{/each}}
  </tr>
  {{#each rounds as |round|}}
    {{schedule-table/round model=round currentRoundNumber=currentRoundNumber}}
  {{/each}}
</table>
