<nav>
  {{#link-to "person.assignment" person previousAssignment}}
    <
  {{/link-to}}
  {{#link-to "index"}}
    index
  {{/link-to}}
  {{localized-date round.startsOn}}
  {{#link-to "person.assignment" person nextAssignment}}
    >
  {{/link-to}}
</nav>
<div class="image">
  <img {{bind-attr src=duty.imageUrl}} />
</div>
<h1>{{duty.name}}</h1>