<nav>
  {{#link-to "person.assignment" person previousAssignment}}
    <
  {{/link-to}}
  {{#link-to "index"}}
    index
  {{/link-to}}
  {{#link-to "person.assignment" person nextAssignment}}
    >
  {{/link-to}}
</nav>
<h1>{{duty.name}}</h1>