$green: #26af6b
$dark-green: #005e51
$yellow: #fac849

$dark-grey: #4b5560
$light-grey: #e5e5e5

$base-font: "Source Sans Pro", sans-serif

$width-480: 480px


=shadow-4
  box-shadow: 0 4px 4px rgba(black, 0.1)

=shadow-6
  box-shadow: 0 6px 6px rgba(black, 0.1)
