body
  font-family: $base-font
  font-size: 16px
  line-height: 20px

h1, h2, h3, p
  margin: 0
  font-size: inherit
  font-weight: inherit

ul, ol, li
  list-style: none
  margin: 0
  padding: 0

menu
  margin: 0
  padding: 0

a
  color: $green
  &:hover
    color: $dark-green
  &.subtle-link
    color: inherit
    text-decoration: none
    &:hover
      text-decoration: underline
      color: inherit


.header-1
  font-size: 20px
  line-height: 20px

.header-2
  font-size: 18px
  line-height: 20px


.ellipsis-overflow
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  max-width: 100%
