<th>
  {{model.startsOn}}
</th>
{{#each model.assignments as |assignment|}}
  <td>
    {{#link-to "schedules.show.person.assignment" model.schedule assignment.person model.number}}
      {{assignment.duty.name}}
    {{/link-to}}
  </td>
{{/each}}
