<th class="data-table-secondary-header">
  {{round-date model.startsOn clock.dayDate relativeRoundNumber=relativeRoundNumber}}
</th>
{{#each model.assignments as |assignment|}}
  <td>
    {{schedule-table/round/assignment model=assignment}}
  </td>
{{/each}}
