<th>
  {{#if label}}
    {{label}}
  {{else}}
    {{round-date model.startsOn clock.dayDate}}
  {{/if}}
</th>
{{#each model.assignments as |assignment|}}
  <td>
    {{#link-to "schedules.show.person.assignment" model.schedule assignment.person assignment}}
      {{assignment.duty.name}}
    {{/link-to}}
  </td>
{{/each}}
