<th class="data-table-secondary-header">
  {{#if label}}
    {{label}}
  {{else}}
    {{round-date model.startsOn clock.dayDate}}
  {{/if}}
</th>
{{#each model.assignments as |assignment|}}
  <td>
    {{schedule-table/round/assignment model=assignment}}
  </td>
{{/each}}
