<div class="schedules-index-splash">
  <h1 class="schedules-index-logo">
    {{image-tag src="logo.svg" alt=(t "app.title")}}
  </h1>
  <h2 class="schedules-index-slogan">
    {{t "app.slogan"}}
  </h2>
</div>

<nav class="schedules-index-actions">
  {{#link-to "schedules.join"}}
    {{#basic-button class="negative" tagName="div"}}
      {{t "schedules.index.join"}}
    {{/basic-button}}
  {{/link-to}}

  {{#link-to "schedules.new"}}
    {{#basic-button class="primary" tagName="div"}}
      {{t "schedules.index.createNew"}}
    {{/basic-button}}
  {{/link-to}}
</nav>
