<div class="schedules-index-splash">
  <h1 class="schedules-index-logo">
    {{image-tag src="logo.svg" alt=(t "app.title")}}
  </h1>
  <h2 class="schedules-index-slogan">
    {{t "app.slogan"}}
  </h2>
</div>

<nav class="schedules-index-actions">
  {{#link-button "schedules.join" class="negative"}}
    {{t "schedules.index.join"}}
  {{/link-button}}

  {{#link-button "schedules.new" class="primary"}}
    {{t "schedules.index.createNew"}}
  {{/link-button}}
</nav>
