<table class="schedule">
  <thead>
    <tr>
      <td></td>
      {{#each}}
        <td>
          {{#link-to 'person' this}}
            {{name}}
          {{/link-to}}
        </td>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each rounds}}
      <tr>
        <td>{{startsOn}}</td>
        {{#each assignments}}
          <td>
            {{#link-to 'person.assignment' person this}}
              {{duty.name}}
            {{/link-to}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>