<table class="schedule">
  <thead>
    <tr>
      <td></td>
      {{#each}}
        <td>{{name}}</td>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each rounds}}
      <tr>
        <td>{{startsOn}}</td>
        {{#each assignments}}
          <td>
            {{#link-to 'people.assignments' person this}}
              {{duty.name}}
            {{/link-to}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>