<div class="duty-card-illustration">
  {{image-tag src=model.illustrationPath alt=model.name}}
</div>
<div class="row space-above space-below">
  <div class="column">
    <h2 class="header-2">
      {{model.name}}
    </h2>
  </div>
</div>
