<h2>{{round-date model.round.startsOn clock.dayDate}}</h2>
{{#link-to "schedules.show.person.assignment" model.person.schedule model.person previousRoundNumber}}
  {{ t "schedules.show.person.assignment.previous" }}
{{/link-to}}
{{#link-to "schedules.show.person.assignment" model.person.schedule model.person nextRoundNumber}}
  {{ t "schedules.show.person.assignment.next" }}
{{/link-to}}
{{duty-card model=model.duty}}
